/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 10 versions
*/

@media screen and (orientation:portrait) and (max-width: 549px) {
    html {
        font-size: 5px;
    }

    /* main */

    
    /* negic */
    .negic {
        margin: 2vh 0;
    }

    .negic-icon {
        font-size: 8vw;
    }

    .name {
        font-size: 6.5vw;
    }

    .avt {
        margin: 2vw auto;
        width: 30vw;
        height: 30vw;
    }

    .description {
        font-size: 3.8vw;
    }

    .eye {
        width: 8vw;
        height: 8vw;
        margin: 0 1.5vw;
    }

    /* negic */

    /* scroll */
    .scroll {
        width: 10vh;
        height: 10vh;
        bottom: 3vh;
        right: 3vh;
    }

    .scroll i {
        font-size: 5vh;
    }

    /* scroll */

    /* number */
    .anime-quantity {
        width: 14vh;
        height: 14vh;
        bottom: 3vh;
        left: 3vh;
        padding: 0.1vh;
    }

    .anime-number {
        font-size: 6vh;
    }

    /* number */

    /* Menu */
    .tag-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .tag-menu-half {
        padding: 0;
        width: 90vw;
    }

    .tag-menu-all,
    .tag-menu-item {
        height: 10vh;
        font-size: 5vh;
        line-height: 10vh;
        margin: 2vh 0;
        border-radius: 5vh;
        letter-spacing: 0.3vw;
    }

    .tag-menu-item {
        background-color: #e74c3c;
    }
    
    .tag-menu-item.yes {
        background-color: #2ecc71;
    }

    .tag-menu-item:hover {
        opacity: 0.8;
    }

    .exit-menu { 
        margin: 2vh auto;
        border-radius: 5vh;
        width: 90vw;
        height: 10vh;
    }

    .exit-menu i {
        font-size: 2.5vw;
    }

    /* Menu */

    /* header */
    .header {
        height: 10vh;
        margin-top: 2vh;
    }

    .toggle,
    .menu-header {
        height: 10vh;
        border-radius: calc(10vh/2); 
    }

    .menu-header {
        width: 20vw;
    }
    
    .toggle {
        width: 35vw;
    }

    .menu-header i,
    .toggle i {
        font-size: 5vw;
    }

    /* header */

    /* body */
    .main {
        padding: 1vh 0;
    }

    .anime-wrapper {
        width: 90vw;
        margin: 2vh auto;
    }

    .anime-level {
        padding: 1vw 4vw;
        font-size: 5vw;
        border-bottom-right-radius: 4vw;
        letter-spacing: 0.3vw;
    }

    .anime-img-wrap {
        height: calc(90vw / 3);
        border-bottom: 0.05vw solid white;
    }

    .anime-link {
        font-size: 6vw;
        line-height: 7vw;
    }

    .anime-tag-wrap {
        padding: 1vh 2vw;
    }

    .anime-tag {
        font-size: 4vw;
        line-height: 4.8vw;
    }

    /* body */

    /* footer */
    .footer {
        padding: 2vh 3vw;
    }

    .footer-item {
        margin: 1vh auto;
    }

    .footer-text {
        font-size: 4vw;
    }
}