/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 10 versions
*/

@media screen and (orientation:landscape) and (max-height: 549px) and (max-width: 1099px) {
    html {
        font-size: 5px;
    }

    /* main */

    /* negic */
    .negic {
        margin: 2vh 0;
    }

    .negic-icon {
        font-size: 8vw;
    }

    .name {
        font-size: 7vw;
    }

    .avt {
        width: 25vw;
        height: 25vw;
        margin: 2vw auto;
    }

    .description {
        font-size: 3.5vw;
    }

    .eye {
        width: 6vw;
        height: 6vw;
        margin: 0 1vw;
    }

    /* negic */

    /* scroll */
    .scroll {
        width: 8vw;
        height: 8vw;
        bottom: 5vh;
        right: 5vh;
    }

    .scroll i {
        font-size: 3.5vw;
    }

    /* scroll */

    /* number */
    .anime-quantity {
        width: 11vw;
        height: 11vw;
        bottom: 5vh;
        left: 5vh;
        padding: 0 0.1vw;
    }

    .anime-number {
        font-size: 2.7vw;
    }

    /* number */

    /* Menu */
    .tag-menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .tag-menu-half {
        padding: 0 5vw;
        width: 50%;
    }

    .tag-menu-all,
    .tag-menu-item {
        height: 15vh;
        font-size: 8vh;
        line-height: 15vh;
        margin: 3vh 0;
        border-radius: 7.5vh;
        letter-spacing: 0.2vw;
    }

    .tag-menu-item {
        background-color: #e74c3c;
    }
    
    .tag-menu-item.yes {
        background-color: #2ecc71;
    }

    .exit-menu { 
        margin: 3vh auto;
        border-radius: 7.5vh;
        width: 90vw;
        height: 15vh;
    }

    .exit-menu i {
        font-size: 9vh;
    }

    /* Menu */

    /* header */
    .header {
        height: 18vh;
        margin-top: 2vh;
    }

    .toggle,
    .menu-header {
        height: 15vh;
        border-radius: 7.5vh; 
    }

    .menu-header {
        width: 15vw;
    }
    
    .toggle {
        width: 30vw;
    }

    .menu-header i,
    .toggle i {
        font-size: 3vw;
    }

    /* header */

    /* body */
    .main {
        padding: 2vh 0;
    }

    .anime-wrapper {
        width: 95vw;
        margin: 4vh auto;
    }

    .anime-level {
        padding: 0.5vw 3vw;
        font-size: 4.6vw;
        border-bottom-right-radius: 3vw;
        letter-spacing: 0.3vw;
    }

    .anime-img-wrap {
        height: calc(95vw / 3);
        border-bottom: 0.05vw solid white;
    }

    .anime-link {
        font-size: 4.8vw;
        line-height: 5.3vw;
    }

    .anime-tag-wrap {
        padding: 1vh 2vw;
    }

    .anime-tag {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    /* body */

    /* footer */
    .footer {
        padding: 3vh 3vw;
    }

    .footer-item {
        margin: 2vh auto;
    }

    .footer-text {
        font-size: 4vw;
    }
}