/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 10 versions
*/

@media screen and (orientation:portrait) and (min-width: 550px) and (max-width: 1099px) {
    html {
        font-size: 8px;
    }

    /* main */

    /* negic */
    .negic-icon {
        font-size: 8vw;
    }

    .name {
        font-size: 6.5vw;
    }

    .avt {
        margin: 2vw auto;
        width: 25vw;
        height: 25vw;
    }

    .description {
        font-size: 3.8vw;
    }

    .eye {
        width: 6vw;
        height: 6vw;
        margin: 0 1.3vw;
    }

    /* scroll */
    .scroll {
        width: 6vh;
        height: 6vh;
        bottom: 2vh;
        right: 2vh;
    }

    /* negic */

    .scroll i {
        font-size: 3vh;
    }

    .scroll:hover i {
        -webkit-transform: translateY(-0.5vh);
            -ms-transform: translateY(-0.5vh);
                transform: translateY(-0.5vh);
    }

    /* scroll */

    /* number */
    .anime-quantity {
        width: 9vh;
        height: 9vh;
        bottom: 2vh;
        left: 2vh;
        padding: 0.05vh;
    }

    .anime-number {
        font-size: 2vh;
    }

    /* number */

    /* Menu */
    .tag-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .tag-menu-half {
        padding: 0;
        width: 90vw;
    }

    .tag-menu-all,
    .tag-menu-item {
        height: 7vh;
        font-size: 3vh;
        line-height: 7vh;
        margin: 1.5vh 0;
        border-radius: 3.5vh;
        letter-spacing: 0.3vw;
    }

    .tag-menu-item {
        background-color: #e74c3c;
    }
    
    .tag-menu-item.yes {
        background-color: #2ecc71;
    }

    .exit-menu {
        margin: 2vh auto;
        border-radius: 3.5vh;
        width: 90vw;
        height: 7vh;
    }

    .exit-menu i {
        font-size: 4vw;
    }

    /* Menu */

    /* header */
    .header {
        height: 5.5vh;
        margin-top: 1vh;
    }

    .toggle,
    .menu-header {
        height: 5.5vh;
        border-radius: calc(5.5vh/2);
    }

    .menu-header {
        width: 20vw;
    }

    .toggle {
        width: 35vw;
    }

    .menu-header i,
    .toggle i {
        font-size: 3.5vw;
    }

    /* header */

    /* body */
    .main {
        padding: 1vh 0;
    }

    .anime-wrapper {
        width: 90vw;
        margin: 1.5vh auto;
    }

    .anime-level {
        padding: 1vw 4vw;
        font-size: 3.5vw;
        border-bottom-right-radius: 4vw;
        letter-spacing: 0.3vw;
    }

    .anime-img-wrap {
        border-bottom: 0.05vw solid white;
    }

    .anime-link {
        font-size: 4vw;
        line-height: 5vw;
    }

    .anime-tag-wrap {
        padding: 1vh 2vw;
    }

    .anime-tag {
        font-size: 3vw;
        line-height: 3.5vw;
    }

    /* body */

    /* footer */
    .footer {
        padding: 1.5vh 3vw;
    }

    .footer-item {
        margin: 0.5vh auto;
    }

    .footer-text {
        font-size: 2.5vw;
    }
}